.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 70%;

}

.calendar-container h1{

  color: #000000;
}


.calendar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}


.react-calendar {
  border: none;
  width: 100%;
  background: none;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  max-width: 1000px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.react-calendar__navigation__label {
  font-size: 1.4rem; 
  font-weight: bold;
}

.react-calendar__tile {
  height: 120px; 
  font-size: 1.2rem;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
  padding: 20px 0;
}

.react-calendar__tile:hover {
  background-color: #fafafa;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  color: #444;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #FFFAC2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal h2 {
  text-align: left;
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 10px;
}

.modal .input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.modal .input-group label {
  font-weight: 500;
  color: #000000;
  margin-bottom: 5px;
  text-align: left;

}

.modal .input-group input,
.modal .input-group select {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.modal .input-group input:focus,
.modal .input-group select:focus {
  border-color: #000000;
  outline: none;
}


.radio-group,
.radio-group-categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;

}

.radio-group label,
.radio-group-categories label {
    color: #000000;
  align-items: center;
  

}

.radio-group-categories input[type="radio"] {
  margin-right: 16px;
}


.radio-group input[type="radio"],
.radio-group-categories input[type="radio"] {
  cursor: pointer;
  accent-color: #007bff;
}


.radio-group-categories input[value="ALIMENTACAO"] {
  accent-color: #FF0004;
}

.radio-group-categories input[value="LAZER"] {
  accent-color: #65D067;
}

.radio-group-categories input[value="SAUDE"] {
  accent-color: #009DFF;
}

.radio-group-categories input[value="ROUPAS_E_ACESSORIOS"] {
  accent-color: #FF18AE;
}

.radio-group-categories input[value="DIVIDAS"] {
  accent-color: #FFA600;
}

.radio-group-categories input[value="CONTAS"] {
  accent-color: #D900FF;
}

.radio-group-categories input[value="OUTROS_TIPOS_DE_GASTOS"] {
  accent-color: #795548;
}


.modal .button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.add-btn {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.add-btn:hover {
  background-color: #dedede;
}

.cancel-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-btn:hover {
  background-color: #c82333;
}


.adicionar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.event-list {
  list-style: none;
  padding: 2px;
  margin: 0;
  font-size: 0.65rem;
  line-height: 1.2;
  max-height: 100px;
  overflow-y: auto;
}

.event-list .receita {
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  padding: 1px 4px;
  margin-bottom: 2px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-list .despesa {
  background-color: #f44336;
  color: white;
  border-radius: 4px;
  padding: 1px 4px;
  margin-bottom: 2px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-list li {
  cursor: pointer;
}


.daily-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.daily-item {
  font-size: 0.95rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.daily-item .tipo {
  font-weight: bold;
  margin-right: 5px;
  color: #333;
}

.daily-item .descricao {
  color: #222;
}

.daily-item .quantidade {
  margin-left: 5px;
  color: #555;
}

.daily-item .categoria {
  margin-left: 5px;
  color: #777;
  font-style: italic;
}

.summary-panel {
  width: 500px;
  height: 700px;
  align-self: center; 
  padding: 20px;
  border-radius: 15px;
  margin-left: -10px; 
  flex-direction: column;
  gap: 40px; 
  
}

.finance-summary,
.controle-summary {
  background-color: #fff9c4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

 

  
}
.controle-summary {
  min-height: 200px;
  font-size: 1.2rem;
 
}

.finance-summary h3,
.controle-summary h3 {
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 27px;

}
.controle-summary p {
  margin-bottom: 15px;
  text-align: left;
  color: #000000;
}
.finance-summary ul {
  list-style: none;
  padding-left: 0;
    margin-top: 16px;

}

.finance-summary li {
  margin-bottom: 6px;
  font-size: 1.2rem;
    color: #000000;
}

.finance-summary {
  min-height: 400px;
  margin-bottom: 40px;
 
}

.finance-summary ul li {
  margin-bottom: 15px;
  text-align: left;

}

textarea {
  border: 1px solid #000000;  
  border-radius: 10px;       
  padding: 10px;
  background-color: #f9f9f9;
  resize: none;
  width: 100%;
}


.modal .input-group input,
.modal .input-group textarea {

  color: #161616; 
  font-family: inherit;
  font-size: 1rem;     
}